@{

}

<!--title-->
<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<!--image of a pretty cool dude-->
<img src="~/img/JoelHilton.jpg" alt="Joel Hilton" width="1000" height="300">
